@model MrBarber.Models.Cliente

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Perfil";
}


@using (Html.BeginForm("Historico", "Perfil", FormMethod.Post))
{
    <br /><br />
    <h2>Perfil</h2>
    <table class="table table-hover">
        <tbody>
            <tr class="table-info">
                <th scope="row">@Html.DisplayNameFor(model => model.Nome)</th>
                <td> @Html.DisplayFor(modelItem => modelItem.Nome)</td>
            </tr>

            <tr class="table-info">
                <th scope="row"> @Html.DisplayNameFor(model => model.DataNascimento)</th>
                <td> @Html.DisplayFor(modelItem => modelItem.DataNascimento) </td>
            </tr>

            <tr class="table-info">
                <th scope="row">  @Html.DisplayNameFor(model => model.ContactoTelefonico)</th>
                <td> @Html.DisplayFor(modelItem => modelItem.ContactoTelefonico)</td>

            </tr>

            <tr class="table-info">
                <th scope="row"> @Html.DisplayNameFor(model => model.Email)</th>
                <td> @Html.DisplayFor(modelItem => modelItem.Email)</td>

            </tr>
            <tr class="table-info">
                <th scope="row">  @Html.DisplayNameFor(model => model.Password)</th>
                <td>  @Html.DisplayFor(modelItem => modelItem.Password)</td>
            </tr>
            <tr class="table-info">
                <th scope="row">    @Html.DisplayNameFor(model => model.NIF)</th>
                <td>    @Html.DisplayFor(modelItem => modelItem.NIF)</td>

            </tr>
            <tr class="table-info">
                <th scope="row"> @Html.DisplayNameFor(model => model.CodigoProm)</th>
                <td>     @Html.DisplayFor(modelItem => modelItem.CodigoProm)</td>
            </tr>
            <tr class="table-info">
                <th scope="row">  @Html.DisplayNameFor(model => model.CodigoAmigo)</th>
                <td> @Html.DisplayFor(modelItem => modelItem.CodigoAmigo)</td>

            </tr>
            <tr class="table-info">
                <th scope="row"> @Html.DisplayNameFor(model => model.Pontos)</th>
                <td>  @Html.DisplayFor(modelItem => modelItem.Pontos)</td>

            </tr>
            <tr class="table-info">
                <th scope="row">  @Html.DisplayNameFor(model => model.Localizacao)</th>
                <td> @Html.DisplayFor(modelItem => modelItem.Localizacao)</td>

            </tr>
        </tbody>
    </table>

    <br /><br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Histórico" class="btn btn-default" />
        </div>
    </div>

}


@using (Html.BeginForm("Recomendacao", "Perfil", FormMethod.Post))
{

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Efetuar Recomendação" class="btn btn-default" />
        </div>
    </div>
}