@model IEnumerable<MrBarber.Models.Agendamento>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Histórico de Serviços</h2>


<table class="table">
    <tr>
        
        <th>
           Data Início
        </th>
        <th>
           Estado
        </th>
        <th>
           Funcionário
        </th>
        <th>
           Serviço
        </th>
        <th>
          Reclamação
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    var nome = item.NomeFuncionario();
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reclamacao)
        </td>
    </tr>
}

</table>
